body{
  background: rgb(219,219,219);
  background: linear-gradient(90deg, rgba(219,219,219,1) 0%, rgba(255,255,255,1) 49%, rgba(210,210,210,1) 100%);
}
img{
  width: 100%;
  height:100%;
  vertical-align: middle;
  object-fit: cover;
}

.l-wrapper{
  width: 100%;
  
}
.container{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  max-width: 960px;
  height: 960px;
  justify-content: center;
}
h1{
  width:100%;
  max-width: 700px;
  font-weight: 900;
  text-align: center;
  align-self: center;
  font-size: 40px;
  color: #7c7c7c;
  background: #FFF;
  box-shadow: .5px .5px 2.5px .2px #e9e9e9;
  padding: 15px 0;
}

.item{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  height: 400px;
  background: #fff;
  border-radius:15px ;
  box-shadow: .5px .5px 2.5px .2px #e9e9e9;
}

.item__pic {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.item__txt {

  margin-top: 20px;
  box-sizing: border-box;
  padding: 10px 20px;
  line-height: 1.5;
}

h2, p {
  border-radius:20px;
}

.item_title{
  font-size: 30px;
  font-weight: bold;
  color: #5c5c5c;
  box-sizing: border-box;

}
.item_author{

  color:#aaaaaa;
  box-sizing: border-box;
  font-size: 15px;
}
.item_txt{

  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow : hidden;
  color: #6e6e6e;
}


.isLoading{
  min-height: 17px;
  background: #d9d9d9;
  position: relative;
  overflow: hidden;
  
}
p.isLoading{
 margin-top: 20px;
}
h2.isLoading{
  width: 140px;
  min-height: 20px;
}

.isLoading::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background: linear-gradient(to left ,transparent , rgba(228, 228, 228, 0.979),transparent);
  transform: translate(-100%);
  animation: loading 1.5s infinite ;
}
@keyframes loading {
  100% {
    transform: translate(100%);
  }
}